In [27]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

sns.set()

In [28]:
import common
import importer

In [55]:
data = pd.read_csv("input\\nba\\2015.csv")

data["home_win"] = 0
data.loc[data["PTS"] < data["PTS.1"], "home_win"] = 1

In [56]:
data.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes,home_win
0,Tue Oct 27 2015,8:00 pm,Detroit Pistons,106,Atlanta Hawks,94,Box Score,NaN,19187,NaN,0
1,Tue Oct 27 2015,8:00 pm,Cleveland Cavaliers,95,Chicago Bulls,97,Box Score,NaN,21957,NaN,1
2,Tue Oct 27 2015,10:30 pm,New Orleans Pelicans,95,Golden State Warriors,111,Box Score,NaN,19596,NaN,1
3,Wed Oct 28 2015,7:30 pm,Philadelphia 76ers,95,Boston Celtics,112,Box Score,NaN,18624,NaN,1
4,Wed Oct 28 2015,7:30 pm,Chicago Bulls,115,Brooklyn Nets,100,Box Score,NaN,17732,NaN,0

In [57]:
data["home_win"].describe()

count    1273.000000
mean        0.591516
std         0.491747
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: home_win, dtype: float64